// Colors

$paper:      #EEE4D3;
$dust:       #C4BFAF;
$ink:        #2C3E50;
$grey:       #1E1E1E;
$red:        #802F1D; 
$yellow:     #C98540;
$black:      #000000;
$white:      #FFFFFF;

/* map */
$colors: (
    'paper': $paper,
    'dust': $dust,
    'ink': $ink,
    'grey': $grey,
    'red': $red,
    'yellow': $yellow,
    'black': $black,
    'white': $white
);
