@use '../fonts/' as fonts;
@use './_sizing.scss' as sizing;
@use 'sass:map';

$fonts: (
    'noto': fonts.$font-noto,
    'playfair': fonts.$font-playfair
);

$font-body: map.get($fonts, 'noto'); // default font for body text
$font-heading: map.get($fonts, 'playfair'); // font for headings

