@use '../fonts/' as fonts;
@use './_sizing.scss' as sizing;
@use 'sass:map';

$fonts: (
    'inter': fonts.$font-inter,
    'playfair': fonts.$font-playfair
);

$font-body: map.get($fonts, 'inter'); // default font for body text
$font-heading: map.get($fonts, 'playfair'); // font for headings

@each $size, $value in sizing.$font-sizes {
    .font-#{$size} {
        font-size: $value;
    }
}