@use '../variables' as var;

body {
    font-family:var.$font-body;
}

h1 {
    font-size: 60px;
    font-weight: 300;
} //testing

.heading {
font-family: var.$font-heading; // use the playfair font for headings
}